<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quanttum</title>
  <link rel="icon" href="../static/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="../static/images/icon.png" alt="logo" />
      <h2>Quanttum</h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>Menu Principal</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="">
          <i class="fas fa-tachometer-alt"></i>Dashboard
        </a>
      </li>
      <li>
        <a href="analitico.html"><i class="fas fa-chart-line"></i>Analítico</a>
      </li>
      <h4>
        <span>Geral</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="tarefas.html"><i class="fas fa-tasks"></i>Tarefas</a>
      </li>
      <li>
        <a href="cronograma.html"><i class="fas fa-calendar-alt"></i>Cronograma</a>
      </li>
      <li>
        <a href="segmento.html"><i class="fas fa-users"></i>Segmento</a>
      </li>
      <li>
        <a href="conversas.html"><i class="fas fa-comments"></i>Conversas</a>
      </li>
      <li>
        <a href="notificacoes.html"><i class="fas fa-bell"></i>Notificações</a>
      </li>
      <h4>
        <span>Conta</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="perfil.html"><i class="fas fa-user-circle"></i>Perfil</a>
      </li>
      <li>
        <a href="configuracoes.html"><i class="fas fa-cog"></i>Configurações</a>
      </li>
      <li>
        <a href=""><i class="fas fa-sign-out-alt"></i>Sair</a>
      </li>
    </ul>
    <div class="user-account">
      <div class="user-profile">
        <img id="prof-pic" src="" alt="Profile Image" />
        <div class="user-detail">
          <h3 id="nome-sidebar"></h3>
          <span id="cargo-sidebar"></span>
        </div>
      </div>
    </div>
  </aside>

  <div id="content">
    <div class="container-index">
      <div class="indicator total">
        <div class="icon">📊</div>
        <div class="label">Totais</div>
        <div class="count">20</div>
      </div>
      <div class="indicator today">
        <div class="icon">📅</div>
        <div class="label">Do Dia</div>
        <div class="count">3</div>
      </div>
      <div class="indicator done">
        <div class="icon">✔️</div>
        <div class="label">Feitas</div>
        <div class="count">10</div>
      </div>
      <div class="indicator overdue">
        <div class="icon">⏳</div>
        <div class="label">Atrasadas</div>
        <div class="count">7</div>
      </div>
    </div>
  </div>

  <script type="module" src="../static/js/script-index.js"></script>
</body>
</html>