<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Quanttum</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="container">
    <div class="left_side">
        <div class="login_icon">
            <img src="../static/images/icon.png" alt="Icone Quanttum" width="70px">
        </div>
        <div class="login_title">
            <h2>Entrar no Quanttum</h2>
        </div>

        <form id="loginForm" class="login_form">
            <label class="login_label">
                Usuário<span>*</span>
            </label>
            <input type="text" id="username" class="login_input">
            <label class="login_label">
                Senha<span>*</span>
            </label>
            <input type="password" id="password" class="login_input">
            <div class="button_div">
                <button class="login_button" id="login">
                    Entrar
                </button>
            </div>
        </form>
    </div>
    <div class="right_side">
        <div class="right_img"></div>
    </div>
</div>

<script type="module" src="../static/js/login.js"></script>
</body>
</html>